@using BettingApp.Data.Common.Enums
@model BettingApp.Services.ViewModels.Competition.CreateCompetitionInputModel
@{
	ViewData["Title"] = "Create";
}

<h2>Create Competition</h2>

<form asp-action="Create" asp-controller="Competitions" method="post">

	<label asp-for="Name"></label>
	<input asp-for="Name" />

	@*<select asp-for="SportId" asp-items="Model.Sports" id="">
		<option selected="selected" value="">Please select</option>
	</select>*@
	<select asp-for="SportId" id="sportsMenu">
		<option selected="selected" disabled>Please select</option>
	</select>
	<select asp-for="SeasonId" id="seasonMenu">
		<option selected="selected" disabled>Please select</option>
	</select>
	<input type="submit" name="name" value="Create" />
</form>


@section Scripts {
	<script>
		
		$(document).ready(function () {

			$.ajax({
				url: "/Sports/AllSports",
				type: "GET",
				dataType: "json",
				success: function(sports) {
					$.each(sports, function (index, value) {
						$('#sportsMenu').append('<option value="' + value.id + '">' + value.name + '</option>');
					});
				}
			});

			//TODO show dropdown list only on change

			$("#sportsMenu").change(function () {
				var sportId = $("#sportsMenu").val();
				console.log(sportId)
				$.ajax({
					url: "/Seasons/AllSeasons",
					data: { sport: sportId },
					type: "POST",
					dataType: "json",
					success: function(seasons) {
						$.each(seasons, function (index, value) {
							$('#seasonMenu').append('<option value="' + value.id + '">' + value.name + '</option>');
						});
					}
				});
			});
		})

	</script>
}