@model BettingApp.Services.ViewModels.Season.CreateSeasonInputModel
@using BettingApp.Data.Common.Enums
@{
	ViewData["Title"] = "Create";
}

<h2>Create Season</h2>

<form asp-action="Create" asp-controller="Seasons" method="post">

	<label asp-for="Name"></label>
	<input asp-for="Name" />
	<label asp-for="Start"></label>
	<input asp-for="Start" />
	<label asp-for="End"></label>
	<input asp-for="End" />
	<select asp-for="SportId" id="sportsMenu">
		<option selected="selected" disabled>Please select</option>
	</select>
	<input type="submit" name="name" value="Create" />
</form>

@section Scripts {
	<script>
		$(document).ready(function () {

			$.ajax({
				url: "/Sports/AllSports",
				type: "GET",
				dataType: "json",
				success: function(sports) {
					$.each(sports, function (index, value) {
						$('#sportsMenu').append('<option value="' + value.id + '">' + value.name + '</option>');
					});
				}
			});
		})
	</script>
}