<div class="p-1 row match">
	<a href="#" class="float-left">
		<img src="https://upload.wikimedia.org/wikipedia/hif/f/ff/Manchester_United_FC_crest.png" class="media-photo">
	</a>
	<p class="contestant my-auto"><a>Manchester United</a> - <a>NewCastle United</a></p>
	<a href="#" class="float-left">
		<img src="http://pluspng.com/img-png/newcastle-united-png-file-newcastle-united-logo-png-595.png" class="media-photo">
	</a>
	<p class="contestant my-auto"> - <a>Premier League</a></p>
	

</div>