
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

body {
	background-image: url(../images/site-background.jpg)
}
.bet-nav {
	opacity: 0.85;
	border-bottom-color: #363634;
	border-bottom-color: RGBA(54,54,52,0.2);
	border-bottom: solid 3px;
}
.footer {
	opacity: 0.85;
	border-top-color: #363634;
	border-top-color: RGBA(54,54,52,0.2);
	border-top: solid 3px;
	position: fixed;
	bottom: 0;
	width: 100%;
}